.adrress-header {
  display: flex;
  margin-left: auto;
}

.adrress-header-item {
  color: var(--secondary-text-color);
}

.adrress-header-item + .adrress-header-item {
  margin-left: 30px;
}

.adrress-header-link {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
}

.adrress-header-link:hover,
.adrress-header-link:focus {
  color: var(--accent-color);
}

.icon-header {
  margin-right: 10px;
  fill: currentColor;
}
