.contacts-footer {
  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
  &__address {
    display: block;
    width: 231px;
    color: var(--title-color);
  }
  &__link {
    color: var(--address-footer-color);
  }
}

.contacts__label {
  transition: color 250ms var(--function-cubic);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
