.contacts {
  font-style: normal;
}

.contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  display: block;
  width: 231px;

  color: var(--title-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contacts {
  color: var(--address-footer-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contacts .link {
  transition: color 250ms var(--function-cubic);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

.footer .container {
  display: flex;
  align-items: baseline;
}
